:root {
  /* change these top variables to change the theme! */
  --top-bar-color: #20242A;
  --primary-color: #40E0FD;
  --shadow-color: #3fe1fd8d;
  --light-grey: #ccc;
  --bg-color: #282C34;
  --border-color: #ccc
}

:root * {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.App {
  width: 100%;
  text-align: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  margin: 10px;
}

.top-bar {
  display: flex;
  padding: 1% 1%;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--top-bar-color);
}

.app-tittle {
  display: flex;
  color: var(--primary-color);
}

.city-search-field {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 24px;
  align-items: flex-end;
}

.event-search {
  color: #eee;
  text-align: left;
}

.event-num {
  color: #eee;
  text-align: left;
}

ul {
  padding: 0;
  list-style: none;
}

input {
  width: 120px;
}

.display-none {
  display: none;
}

.showSuggestions {
  display: block;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--light-grey);
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.city {
  width: 250px;
}

.form {
  color: var(--light-grey);
}

.CitySearch {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  position: relative;
  justify-content: flex-end;
}

.suggestions {
  width: 250px;
  position: absolute;
  z-index: 2;
  align-self: center;
  margin: 0;
  top: 43px;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions>li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions>li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions>li:hover {
  background-color: #bcdcdb;
}

.details-button {
  padding: 1em 1.25em;
  border-radius: 3em;
  border: none;
  box-shadow: 0 .2em hsla(0, 0%, 0%, 20%);
  width: 120px;
}

.events {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 35px;
  position: relative;
  text-align: left;
}

.Event {
  background: var(--white-alpha);
  background-color: var(--border-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.35em;
  color: black;
  margin: 10px;
  padding: 4px 14px 8px;
}

.Event.expanded {
  background: var(--heading-text);
  color: black;
  background-color: white;
  box-shadow: 0 .2em var(--shadow-color);
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

.numberOfEvents {
  width: 200px;
  margin: 20px auto;
  text-align: center;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.Alert {
  margin-top: 0;
  padding: .25em 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.alert-status {
  background: linear-gradient(90deg, var(--light-grey), transparent);
}

@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }

  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}

@media all and (min-width: 360px) and (max-width: 600px) {
  .top-bar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .city-search-field {
    display: inline-block;
  }


  h1 {
    font-size: 28px;
  }

}